<footer class="footer">
  <div class="container">
    <p class="pull-left">Copyright @ 2005-2024 <a class="noactive" href="https://WWW.FREE163.COM">WWW.FREE163.COM</a> All Rights Reserved.</p>
    <p class="pull-right">Design By <a href="https://github.com/swang2015/tranquil-theme" class="noactive" target="_blank">Tranquil Theme</a></p>
  </div>
</footer>
<a id="back_top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

<script id="dsq-count-scr" src="//{{ site.disqus_forumname }}.disqus.com/count.js" async></script>
<script>
window.onscroll = function() {
    if(pageYOffset >= 200) {
        document.getElementById('back_top').style.visibility="visible"
    } else {
        document.getElementById('back_top').style.visibility="hidden";
    }
};
document.getElementById('back_top').onclick = function() {
    scrollTo(document.body, 0, 0);
}
</script>
